[user]
	name = richiverse
	email = richard.fernandez.nyc@gmail.com
[push]
	default = simple
[alias]
	s = status
[credential]
	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
[color]
	ui = true
[core]
	editor = /home/rich/src/vim74/bin/vim
[diff]
    tool = vimdiff
    diff-algorithm = patience
[difftool "sourcetree"]
    prompt = false
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
    tool = vimdiff
[github]
	user = richiverse
[ghi]
	token = ac19a060e4900694ab11bf8edfd475dbb1fbb415
	editor = vim
