[user]
	name = richiverse
	email = richardfernandeznyc@gmail.com
[push]
	default = simple
[alias]
	s = status
[credential]
	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
[color]
	ui = true
[core]
	editor = vim
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
